# ## Remove this line and save as .env

# ## Remove this line and the next line before saving
# ## These environment variables just need to be set up once

# BOT_API_TOKEN="M2Y3ZTA3MDAtM2RmZi00MzdlLThjMDItYzMxMjM3OTA0OGM0NmQ4YmQyM2YtMmFi_PE93_7c22cb7b-3184-4c37-8843-ad0c638a78ff"
# HOSTED_FILE="https://www.webex.com/content/dam/wbx/us/images/hp/hp_56565/Teams_Iconx2.png"
# ALLOWED_DOMAINS="gmail.com"
# ANOTHER_DISALLOWED_USERS_EMAIL="<email for Another Disallowed Test User>"

# MONGO_URI="<mongo db connection URI>"
# MONGO_BOT_STORE=frameworkTests-botStore
# MONGO_BOT_METRICS=frameworkTests-botMetrics

# ## Remove this line and the next 2 lines before saving
# ## These vars are tokens that need to be copied from the dev portal
# ## They only last for 12 hours so need to be updated prior to each session

# USER_API_TOKEN="<token for Sandbox Test User>"
# VALID_USER_API_TOKEN="<token for Sandbox Test User>"
# DISALLOWED_USER_API_TOKEN="<token for Disallowed Test User>"
# AUTHORIZED_USER_API_TOKEN="<token for Disallowed Test User>"

# Basic settings
PORT=3000
EXTERNAL_URL=https://d581-102-213-49-15.ngrok-free.app/webex

# Webex bot settings
WEBEX_ACCESS_TOKEN=M2Y3ZTA3MDAtM2RmZi00MzdlLThjMDItYzMxMjM3OTA0OGM0NmQ4YmQyM2YtMmFi_PE93_7c22cb7b-3184-4c37-8843-ad0c638a78ff
WEBEX_BOT_EMAIL=hellowebex24@webex.bot
WEBEX_ROOM_ID=bc327a00-7413-11ef-a019-816da62b36fd

# MongoDB (if needed)
MONGO_URI=<your-mongo-uri>
MONGO_BOT_STORE=frameworkTests-botStore
MONGO_BOT_METRICS=frameworkTests-botMetrics

# Other configurations
ALLOWED_DOMAINS=gmail.com
HOSTED_FILE=https://www.webex.com/content/dam/wbx/us/images/hp/hp_56565/Teams_Iconx2.png
